.nothing__main-content {
  align-items: center;
  background-color: white;
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  p {
    text-align: center;
    font-size: large;
    font-weight: bold;
  }
}